@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  --tw-ring-offset-shadow: 1px solid rgb(75 85 99);
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #253341 inset;
  box-shadow: 0 0 0px 1000px #253341 inset;
  /*transition: background-color 5000s ease-in-out 0s;*/
  color: white;
}

/*input:-webkit-autofill:focus,*/
/*textarea:-webkit-autofill:focus,*/
/*select:-webkit-autofill:focus {*/
/*  --tw-ring-offset-shadow: 2px solid rgb(99 102 241) !important;*/

/*}*/



@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(
      20% 50% at 50% 50%,
      rgba(156, 71, 247, 0.37) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}
